/* --- USER-SIDEBAR BLOCK (Ant Design Menu) --- */
.user-sidebar.ant-menu {
    /* Thay thế h-full */
    height: 100%;
    /* Thêm style để menu khớp với container (InfoUser.css) */
    border-right: none;
}
